.button
{
-fx-background-color : #F3F3F3;
}
.button:hover
{
-fx-background-color : #A1C1F4 ;
}
.button:pressed
{
-fx-background-color : #73A3EF ;
}

.table-view .column-header{
    -fx-background-color: #11488f;
    -fx-padding: 20px;
     -fx-text-background-color: #fff;
}

.table-view: odd{
    -fx-background-color: blue;
   -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-view: even{
    -fx-background-color: yellow;
   -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}